# Basado en LLVM + CDT K&R, pero con indentación de ancho 2
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 2       # cada nivel de indentación equivale a 2 columnas
TabWidth: 2          # un tab se trata como 2 columnas
BreakConstructorInitializers: AfterColon
IndentAccessModifiers: false
AccessModifierOffset: -4
